@CHARSET "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol,ul {
	list-style: none;
}

a img {
	border: none;
}

html {
	background: #eeeeee;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #eeeeee;
	height: 100%;
}

#cardsapp {
	margin: 2% auto;
	padding: 0px;
	width: 90%;
	height: 90%;
	/* shadow */
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#card_container {
	height: 100%;
}

.front {
	background: #fff;
}

.back {
	background: #B0EB17;
}

#text {
	font-size: 5em;
	text-align: center;
}

.group {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: auto;
	position: relative;
	z-index: 1;
}

.group>div {
	display: table-cell;
	vertical-align: middle;
}

.flip {
	width: 80%;
}

.next,.previous {
	text-align: center;
	background-color: #eee;
	opacity: 0.5;
	width: 10%;
}

#status {
	right: 20%;
	position: absolute;
	bottom: 15%;
	font-size: 8em;
	opacity: 0.1;
}

.back_button {
	width:8.4%;
	position: absolute;
	text-align: center;
	z-index: 3;
	-moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
	box-shadow: inset 0px 1px 0px 0px #a4e271;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403
		), color-stop(1, #77a809) );
	background: -moz-linear-gradient(center top, #89c403 5%, #77a809 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403',
		endColorstr='#77a809' );
	background-color: #89c403;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #528009;
}

.back_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809
		), color-stop(1, #89c403) );
	background: -moz-linear-gradient(center top, #77a809 5%, #89c403 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809',
		endColorstr='#89c403' );
	background-color: #77a809;
}

.back_button:active {
	position: relative;
	top: 1px;
}

/* ==|== media queries ====================================================== */

@media only screen and (max-width: 1000px) {
	#cardsapp {
		width: 100%;
		height: 100%;
		margin: 0px;
	}
	
	.flip {
		width: 70%;
	}

	.next,.previous {
		width: 15%;
	}
}