@CHARSET "UTF-8";

#cardsapp {
	padding: 0px;
	width: 100%;
	height: 100%;
}

#card_container {
	height: 100%;
}

.front {
	background: #fff;
}

.back {
	background: #B0EB17;
}

#text {
	font-size: 4em;
	text-align: center;
}

.group {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: auto;
	position: relative;
	z-index: 1;
}

.group>div {
	display: table-cell;
	vertical-align: middle;
}

.flip {
	width: 80%;
}

.next,.previous {
	text-align: center;
	background-color: #eee;
	opacity: 0.5;
	width: 10%;
}

#status {
	right: 20%;
	position: absolute;
	bottom: 15%;
	font-size: 8em;
	opacity: 0.1;
}